// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.store-header {

}

.header-title {
	
}

.banner {

}

.sub-banner {

}

.product-box {
	background-color: #69a6cc;
	border: 2px solid #000;
	margin: 10px 35px;
	position: relative;
	height: 350px;
	width: 250px;
}

.product-title {

}

.product-price {
	position: absolute;
	right: 10px;
	top: 25px;
}

.product-image {
	height: 250px;
	width: 250px;
}

.product-btn {
	
}

.footer {
	height: 200px;
	background-color: grey;
	position: relative;

}

.login {

}

