<h1>Viking Store Analytics Dashboard</h1>

<!--- OVERALL PLATFORM PANE -->

<div class="col-md-4 col-md-offset-1 pane-box">
  <h3>1. Overall Platform</h3>
 
  <div class="panel panel-default">
    <div class="panel-heading">Last 7 Days</div>

    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>New Users</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Orders</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>New Products</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Revenue</td>
          <td>replace</td>
        </tr>
      </tbody>
    </table>
  </div>

  
  <div class="panel panel-default">
    <div class="panel-heading">Last 30 Days</div>

    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>New Users</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Orders</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>New Products</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Revenue</td>
          <td>replace</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Total</div>

    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Users</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Orders</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Products</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Revenue</td>
          <td>replace</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- USER DEMOGRAPHICS PANE -->

<div class="col-md-4 col-md-offset-1 pane-box">
  <h3>2. User Demographics and Behavior</h3>
 
  <div class="panel panel-default">
    <div class="panel-heading">Top 3 States Users Live In (billing)</div>

    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>replace</td>
          <td>replace</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">Top 3 Cities Users Live In (billing)</div>

    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>replace</td>
          <td>replace</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Top User With...</div>

    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>User</th>
          <th>Quantity</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Highest Single Order Value</td>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Highest Lifetime Value</td>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Highest Average Order Value</td>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Most Orders Placed</td>
          <td>replace</td>
          <td>replace</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- ORDER STATISTICS PANE -->

<div class="col-md-4 col-md-offset-1 pane-box">
  <h3>3. Order Statistics</h3>
 
  <div class="panel panel-default">
    <div class="panel-heading">Last 7 Days</div>

    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of Orders</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Total Revenue</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Average Order Value</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Largest Order Value</td>
          <td>replace</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">Last 30 Days</div>

    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>Data</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of Orders</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Total Revenue</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Average Order Value</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Largest Order Value</td>
          <td>replace</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Total</div>

    <table class="table">
      <thead>
        <tr>
          <th>Item</th>
          <th>User</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Number of Orders</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Total Revenu</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Average Order Value</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Largest Order Value</td>
          <td>replace</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<!-- TIME SERIES DATA PANE -->


<div class="col-md-4 col-md-offset-1 pane-box">
  <h3>4. Time Series Data</h3>
 
  <div class="panel panel-default">
    <div class="panel-heading">Orders By Day</div>

    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Quantity</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Today</td>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>Yeseterday</td>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>replace</td>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>replace</td>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>replace</td>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>replace</td>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>replace</td>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>replace</td>
          <td>replace</td>
          <td>replace</td>
        </tr>
      </tbody>
    </table>
  </div>
  
  <div class="panel panel-default">
    <div class="panel-heading">Orders By Week</div>

    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Quantity</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>replace</td>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>replace</td>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>replace</td>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>replace</td>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>replace</td>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>replace</td>
          <td>replace</td>
          <td>replace</td>
        </tr>
        <tr>
          <td>replace</td>
          <td>replace</td>
          <td>replace</td>
        </tr>
      </tbody>
    </table>
  </div>

</div>