<div class="panel panel-default">
	<div class="panel-heading">Last 7 Days</div>
	<table class="table">
		<thead>
			<td>Item</td>
			<td>Data</td>
		</thead>
		<tr>
			<td>New Users</td>
			<td><%= @user_7 %></td>
		</tr>
		<tr>
			<td>Orders</td>
			<td><%= @orders_last_week %></td>
		</tr>
		<tr>
			<td>New Products</td>
			<td><%= @products_from_last_week %></td>
		</tr>
		<tr>
			<td>Revenue</td>
			<td>Test 4</td>
		</tr>

	</table>

</div>