<h2 class="text-center">New Order for <%= @user.name %></h2>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'form' %>

    <p class="text-center text-muted">
      <em>You can add products on the next screen, once the order has been created.</em>
    </p>
  </div>
</div>
