<h2 class="text-center"><%= @title %> <%= @order.id %></h2>
<br>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'logistics' %>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= render 'contents' %>
  </div>
</div>
