<h1>About the Viking Store Project</h1>

<p>The Viking Store is an e-commerce application for Viking Commerce Inc, a Ruby on Rails project in the <a href="http://www.vikingcodeschool.com/" target="_blank">Viking Code School</a>.</p>

<p>This application was developed by <a href="http://siakaramalegos.github.io/">Sia Karamalegos</a>.</p>

<p><a href="https://github.com/siakaramalegos/viking_store" target="_blank"><%= fa_icon('github', text: 'Source Code') %></a></p>
