<div class="container">

  <div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#">LOGO</a>
    </div>
  <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#">Viking Store</a>
    </div>
    <div class="navbar-header pull-right">
      <a href="#">CART</a>
      <button type="button" class="btn btn-default navbar-btn">YOUR CART</button>
      <button type="button" class="btn btn-default navbar-btn">SIGN IN/OUT</button>
	  </div>
  </div><!-- /nav -->
    
</div><!-- /container -->