<div class="col-md-3 product-box">
	<p class="product-title"><%= product.title %></p>
	<p class="product-price"><%= product.price %></p>
	<%= image_tag "#", class: "product-image" %>
	<%= link_to "View Product", store_path(product), class: "btn btn-default product-btn" %>
</div>