// Place all the styles related to the analytics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
header {
  margin-left: auto;
  margin-right: auto;
  width: 7%;
  h1 {
    text-align: center;
    width:100%;
  }
}