@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

body {
  padding-top: 70px;
}




// *******************************
//   Navbar
// *******************************
.logo-container {
  img {
    width: 40px;
    height: 40px;
    margin-top: 4px;
    vertical-align: middle;
  }
}

.nav-links-right {
  margin-top: 4px;
  padding-left: 0;
}

@media only screen and (max-width: 768px) {
  .logo-container {
    display: none;
  }
}




// *******************************
//   Panels
// *******************************
.panel-heading h2 {
  margin-top: 10px;
  font-size: 2em;
}

.panel-body h3 {
  @extend .text-muted;
  font-size: 1.5em;
}

.panel-body table.borderless td, th {
  border: none;
  padding-left: 0;
}




// *******************************
//   Footer
// *******************************
footer {
  background-color: #ccc;
  min-height: 160px;
  padding-top: 20px;
}




// *******************************
//   Misc
// *******************************
form .set-field {
  padding-top: 7px;
}

.order-status {
  font-size: 2em;
}
