// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#notice {
  color: green;
  background-color: yellow;
}

.submit-btn {
	width:100%;
	margin: 15px 0;
}