<h1>Product Categories </h1>
<%=link_to(new_category_path) do%>
  <div class="submit-btn btn-lg btn btn-default btn-primary">Add Category</div>
<%end%>
<div class="panel-body">
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>ID #</th>
        <th>Name</th>
        <th>SHOW</th>
        <th>EDIT</th>
        <th>DELETE</th>
      </tr>
      </thead>
      <tbody>
      <%= render 'category_table' %>
      </tbody>
    </table>
  </div>
</div> 
