<div class="jumbotron jumbo-header">
  <div class="container">
    <h1 class="text-center">The Viking Store</h1>
  </div>
</div>
<div class="jumbotron jumbo-subtitle">
  <div class="container">
    <h3 class="text-center">The Best Viking Gear on the Whole Web</h3>
  </div>
</div>
<div class="jumbotron jumbo-instructions">
  <div class="container">
    <h4 class="text-center text-muted"><em>Choose from among our lineup of fine items below</em></h4>
  </div>
</div>
