<footer>
  <div class="container">
    <div class="row">

      <div class="col-sm-6">
        <h4>CONTACT</h4>
        <p>
          <%= fa_icon 'phone' %>
          1-504-555-1212
        </p>
        <p>
          <%= fa_icon 'envelope' %>
          <%= mail_to 'contact@vikingstore.com' %>
        </p>
      </div>

      <div class="col-sm-6">
        <h4>LINKS</h4>
        <p><%= link_to 'Admin Login', admin_path %></p>
      </div>
    </div>

  </div>
</footer>