<div class="container">
  <div class="row">

    <div class="col-sm-6 top-left">
      <h2>1. Overall Platform</h2>
      <%= render "overall_platform" %>
    </div>
    <div class="col-sm-6 top-right">
      <h2>2. User Demographics and Behavior</h2>
      <%= render "demos" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 bottom-left">
      <h2>3. Order Statistics</h2>
      <%= render "order_statistics" %>
    </div>
    <div class="col-sm-6 bottom-right">
      <h2>4. Time Series Data</h2>
      <%= render "time_series" %>
    </div>
  </div>
</div>